<ng-container [ngSwitch]="field.input">
  <input *ngSwitchDefault
    type="text"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange()" />
  <select *ngSwitchCase="'select'"
    [disabled]="options.length === 0"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange()">
    <option *ngFor="let option of options" [ngValue]="option">
      {{option.name}}
    </option>
    <option *ngIf="options.length === 0" disabled selected [value]="value">
      No options
    </option>
  </select>
  <input *ngSwitchCase="'checkbox'"
    type="checkbox"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange()" />
</ng-container>
