@import "../../styles/colors.less";

:host {
    background: @topbar-background;
}

div.tab {
    display: inline-block;
    background: @topbar-tab;
    padding-left: 6pt;
    padding-right: 6pt;

    overflow: hidden;
    white-space: nowrap;
}

span {
    color: @text-color-default;
    font-size: 10pt;
    font-family: 'Consolas', monaco, monospace;
    font-style: italic;

    &.close {
        padding-left: 6pt;
    }
}
