<svg
    id="graph-frame"
    [attr.viewBox]="viewBox"
    class="noselect"
    appDropTarget
    dropType="GraphBlock"
    (dropped)="onDrop($event)"
    (click)="onFrameClick()"
    (contextmenu)="onRightClick($event)" >
    <defs>
        <marker id="arrowhead"
            viewBox="0 0 12 12"
            markerWidth="6" markerHeight="6"
            refX="10" refY="5"
            orient="auto-start-reverse" >
            <path d="M 0 0 L 12 5 L 0 10 z" />
        </marker>
        <marker id="arrowhead-transparent"
            viewBox="0 0 12 12"
            markerWidth="6" markerHeight="6"
            refX="10" refY="5"
            orient="auto-start-reverse" >
            <path d="M 0 0 L 12 5 L 0 10 z" />
        </marker>
    </defs>
    <g *ngFor="let edge of edges" class="pointer" (contextmenu)="onRightClickEdge($event, edge)">
        <polyline [graph-edge]="edge" marker-end="url(#arrowhead)" class="sequence" />
        <polyline [graph-edge]="edge" class="clickable"></polyline>
    </g>
    <polyline
        *ngIf="newEdge"
        class="sequence transparent"
        [graph-edge]="newEdge" />
    <g *ngFor="let node of nodes">
        <!-- Graph block image -->
        <image
            width="50"
            height="50"
            [graph-node]="node"
            [ngClass]="{
                'transparent': newEdgeFrom && !canReceiveEdge(node),
                'pointer': !newEdgeFrom || (newEdgeFrom && canReceiveEdge(node))
            }"
            (moved)="onNodeMove(node, $event)"
            (click)="$event.stopImmediatePropagation()"
            (clicked)="onNodeClick(node, $event)"
            (contextmenu)="onRightClick($event, node)"
            (mouseover)="onNodeHover(node)"
            (mouseleave)="onNodeLeave(node)" />
        <ng-container>
            <svg *ngIf="!newEdgeFrom && canSendEdge(node)"
                graph-node-button
                [node]="node"
                width="14"
                height="14"
                [attr.x]="node.coordinates.x + 50 - 7"
                [attr.y]="node.coordinates.y + 35"
                [node]="node"
                (buttonClick)="startEdge(node, $event)" />
        </ng-container>
    </g>
</svg>
