@import '../../../styles/colors.less';

svg {
    background: @graph-background;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 16px 0px inset;
    width: 100%;
    height: 100%;

    &.hover {
        background: @graph-background-light;
    }

    .transparent {
        opacity: 0.5;
    }

    circle,
    #arrowhead,
    #arrowhead-transparent {
        fill: @graph-sequence-edge;
    }

    #arrowhead-transparent {
        .transparent;
    }

    text {
        fill: white;
        font-size: 12pt;
        font-weight: 900;
        outline: 1pt solid red;
    }

    polyline.sequence {
        stroke: @graph-sequence-edge;
        stroke-width: 2pt;
        fill: none;

        &.transparent {
            marker-end: url('#arrowhead-transparent');
        }
    }
}
