@import '../../../styles/styles.less';

svg {
    background: @graph-background;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 16px 0px inset;
    width: 100%;
    height: 100%;

    &.hover {
        background: @graph-background-light;
    }

    .transparent {
        opacity: 0.5;
    }

    #arrowhead-o,
    #arrowhead-ot {
        fill: @graph-option-edge;
    }

    #arrowhead-s,
    #arrowhead-st {
        fill: @graph-sequence-edge;
    }

    #arrowhead-ot,
    #arrowhead-st {
        .transparent;
    }

    text {
        fill: white;
        font-size: 12pt;
        font-weight: 900;
        outline: 1pt solid red;
    }

    polyline.sequence {
        stroke: @graph-sequence-edge;
        stroke-width: 2pt;
        fill: none;
        marker-end: url('#arrowhead-s');

        &.transparent {
            marker-end: url('#arrowhead-st');
        }
    }

    polyline.option {
        stroke: @graph-option-edge;
        stroke-width: 2pt;
        stroke-dasharray: 3pt;
        fill: none;
        marker-end: url('#arrowhead-ot');

        &.transparent {
            marker-end: url('#arrowhead-ot');
        }
    }

    polyline.clickable {
        opacity: 0;
        stroke: #000;
        stroke-width: 10pt;
        stroke-dasharray: none;
        fill: none;

        .pointer;
    }
}
