<svg
    id="graph-frame"
    [attr.viewBox]="viewBox"
    class="noselect"
    appDropTarget
    dropType="GraphBlock"
    (dropped)="onDrop($event)"
    (click)="onFrameClick()"
    (contextmenu)="onRightClick($event)" >
    <defs>
        <marker id="arrowhead-s"
            viewBox="0 0 12 12"
            markerWidth="6" markerHeight="6"
            refX="10" refY="5"
            orient="auto-start-reverse" >
            <path d="M 0 0 L 12 5 L 0 10 z" />
        </marker>
        <marker id="arrowhead-st"
            viewBox="0 0 12 12"
            markerWidth="6" markerHeight="6"
            refX="10" refY="5"
            orient="auto-start-reverse" >
            <path d="M 0 0 L 12 5 L 0 10 z" />
        </marker>
        <marker id="arrowhead-o"
            viewBox="0 0 12 12"
            markerWidth="6" markerHeight="6"
            refX="10" refY="5"
            orient="auto-start-reverse" >
            <path d="M 0 0 L 12 5 L 0 10 z" />
        </marker>
        <marker id="arrowhead-ot"
            viewBox="0 0 12 12"
            markerWidth="6" markerHeight="6"
            refX="10" refY="5"
            orient="auto-start-reverse" >
            <path d="M 0 0 L 12 5 L 0 10 z" />
        </marker>
    </defs>
    <g *ngFor="let edge of edges" class="pointer" (contextmenu)="onRightClickEdge($event, edge)">
        <polyline [graph-edge]="edge" />
        <polyline [graph-edge]="edge" class="clickable" />
    </g>
    <polyline
        *ngIf="newEdge"
        class="transparent"
        [graph-edge]="newEdge" />
    <g *ngFor="let node of nodes">
        <!-- Graph block image -->
        <image
            width="50"
            height="50"
            [graph-node]="node"
            [ngClass]="{
                'transparent': newEdgeFrom && !canReceiveEdge(node),
                'pointer': !newEdgeFrom || (newEdgeFrom && canReceiveEdge(node))
            }"
            (moved)="onNodeMove(node, $event)"
            (click)="$event.stopImmediatePropagation()"
            (clicked)="onNodeClick(node)"
            (contextmenu)="onRightClick($event, node)"
            (mouseover)="onNodeHover(node)"
            (mouseleave)="onNodeLeave(node)" />
        <!-- Graph node connector -->
        <svg *ngIf="!newEdgeFrom && canSendEdge(node)"
            graph-node-connector
            [node]="node"
            (buttonClick)="startEdge(node, $event)" />
        <!-- Node output indicator -->
        <svg graph-node-output [node]="node" />
    </g>
    <svg app-task-output
        class="pointer"
        (click)="$event.stopImmediatePropagation(); onNodeClick(output)"
        (mouseover)="onNodeHover(output)"
        (mouseleave)="onNodeLeave(node)"
        [attr.x]="svg.rbox().width / 2"
        y="30"
        width="40" height="20" />
</svg>
