@import "../../../styles/colors.less";

.table {
    display: table;
    width: 100%;
    border: none;

    color: @text-color-bright;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;

    & .tr {
        height: 40pt;
        display: table-row;
    }

    & .td {
        display: table-cell;
    }

    & .tr .td:nth-of-type(1) {
        width: 150pt;
        font-weight: 900;
        padding: 8pt;
    }

    & .tr .td:nth-of-type(2) {
        background: @editor-background;
    }
}
