@heading-height: 24px;

:host {
    min-height: @heading-height;
}

.panel {
    height: 100%;
    width: 100%;
    overflow: hidden;

    & .panel-body {
        overflow-y: auto;
        height: calc(100% - @heading-height);
    }

    & .panel-heading {
        height: @heading-height;
        cursor: pointer;
        background: #49504D;
        color: #CADBD2;
        font-size: 16px;
        font-family: 'Consolas', monaco, monospace;
        font-weight: bold;
        overflow: hidden;

        &:hover {
            background: lighten(#49504D, 5);
        }

        & svg-icon,
        & span {
            height: @heading-height;
            line-height: @heading-height;
            margin-left: 4pt;
        }
    }
}
