@padding-top: 10px;
@gap-size: 10px;
@row-size: 64px;
@column-size: 64px;

.grid {
    height: calc(100% - @padding-top);
    width: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, @row-size);
    grid-template-columns: repeat(auto-fit, @column-size);
    grid-gap: @gap-size;
    padding-top: @padding-top;
    overflow: hidden;
}
