.color {
    color: @text-color-default;

    &.bright {
        color: @text-color-bright;
    }
}

@topbar-background: #212724;
@topbar-tab: @graph-background;

@code-background: #2C322F;
@graph-background: #2C322F;
@graph-background-light: #313734; // lighten(@graph-background, 2%);
@graph-grid: #a9b4af;

@text-color-default: #CADBD2;
@text-color-bright: #E5E5E5;

@editor-background: #3B433F;

@button-background: #4D7962;
@button-text: @text-color-bright;
