@topbar-background: #212724;
@topbar-tab: @graph-background;
@code-background: #2C322F;
@graph-background: #2C322F;
@graph-background-light: #313734; // lighten(@graph-background, 2%);
@graph-grid: #a9b4af;

@text-color: #CADBD2;
