/* You can add global styles to this file, and also import other style files */

body {
    overflow: hidden;
}

.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version */
    user-select: none;
}

.close {
    font-weight: 900;
    cursor: pointer;

    &:active {
        transform: scale(1.1);
        transform-origin: center;
    }
}