<div id="task" [ngStyle]="style" *ngIf="task">
  <app-topbar [openTask]="task"></app-topbar>
  <app-graph-frame [task]="task.name"></app-graph-frame>
  <app-code-frame></app-code-frame>
</div>
<app-sidebar
  side="right"
  (resizing)="onSidebarResize($event)">
  <app-menu-accordion>
    <app-menu-panel panelTitle="SOURCES">
      <graph-block-list body [blocks]="graphBlockService.getSources()"></graph-block-list>
    </app-menu-panel>
    <app-menu-panel panelTitle="TRANSFORMS">
      <graph-block-list body [blocks]="graphBlockService.getTransforms()"></graph-block-list>
    </app-menu-panel>
    <app-menu-panel panelTitle="CONTROL">
      <graph-block-list body [blocks]="graphBlockService.getControls()"></graph-block-list>
    </app-menu-panel>
  </app-menu-accordion>
</app-sidebar>
