<div class="panel noselect">
  <div class="panel-heading"
    (click)="toggle.emit()">
    <svg-icon
      [src]="isOpen ? 'assets/svg/item-open-1.svg' : 'assets/svg/item-closed-1.svg'"
      [svgStyle]="{
        fill: isOpen ? '#CADBD2' : 'none',
        stroke: '#CADBD2',
        'padding-top': '4px',
        'padding-bottom': '4px'
      }"></svg-icon>
    <span>{{ panelTitle | uppercase }}</span>
    <ng-content select="[buttons]"></ng-content>
  </div>
  <div class="panel-body">
    <ng-content select="[body]"></ng-content>
  </div>
</div>
