<app-sidebar
  side="left"
  (resizing)="onSidebarResize($event)">
  <app-menu-accordion>
    <app-menu-panel panelTitle="Outline">
      <span buttons (click)="addTask($event)">+</span>
      <app-outline body
        [items]="tasks$"
        (onSelect)="navigateTo($event)"
        (onDelete)="tasks.delete($event)">
      </app-outline>
    </app-menu-panel>
    <app-menu-panel panelTitle="Record Types">
      <span buttons (click)="addForm($event)">+</span>
      <app-outline body
        [items]="recordTypes$"
        (onSelect)="navigateTo($event)"
        (onDelete)="recordTypes.delete($event)">
      </app-outline>
    </app-menu-panel>
    <app-menu-panel panelTitle="Option Types">
      <span buttons (click)="addAdt($event)">+</span>
      <app-outline body
        [items]="optionTypes$"
        (onSelect)="navigateTo($event)"
        (onDelete)="optionTypes.delete($event)">
      </app-outline>
    </app-menu-panel>
  </app-menu-accordion>
</app-sidebar>
<div id="main-panel" [ngStyle]="mainPanel">
  <router-outlet></router-outlet>
</div>
