<app-sidebar
  side="left"
  (resizing)="onSidebarResizing($event)">
  <app-menu-accordion>
    <app-menu-panel panelTitle="OUTLINE">
      <span buttons (click)="addTask($event)">+</span>
      <app-outline body></app-outline>
    </app-menu-panel>
    <app-menu-panel panelTitle="FORMS">
      <span buttons (click)="addForm($event)">+</span>
      <app-form-list body></app-form-list>
    </app-menu-panel>
    <app-menu-panel panelTitle="ADTs">
      <span buttons (click)="addAdt($event)">+</span>
      <app-adt-list body></app-adt-list>
    </app-menu-panel>
  </app-menu-accordion>
</app-sidebar>
<div id="mid-panel" [ngStyle]="styles.midPanel">
  <app-graph-frame></app-graph-frame>
  <app-code-frame></app-code-frame>
</div>
<app-sidebar
  side="right"
  (resizing)="onSidebarResizing($event)">
  <app-menu-accordion>
    <app-menu-panel panelTitle="SOURCES">
      <graph-block-list body [blocks]="graphBlockService.getSources()"></graph-block-list>
    </app-menu-panel>
    <app-menu-panel panelTitle="TRANSFORMS">
      <graph-block-list body [blocks]="graphBlockService.getTransforms()"></graph-block-list>
    </app-menu-panel>
    <app-menu-panel panelTitle="CONTROL">
      <graph-block-list body [blocks]="graphBlockService.getControls()"></graph-block-list>
    </app-menu-panel>
  </app-menu-accordion>
</app-sidebar>

<router-outlet></router-outlet>
