<app-sidebar
  side="left"
  (resizing)="onSidebarResize($event)">
  <app-menu-accordion>
    <app-menu-panel panelTitle="OUTLINE">
      <span buttons (click)="addTask($event)">+</span>
      <app-outline body></app-outline>
    </app-menu-panel>
    <app-menu-panel panelTitle="FORMS">
      <span buttons (click)="addForm($event)">+</span>
      <app-form-list body></app-form-list>
    </app-menu-panel>
    <app-menu-panel panelTitle="ADTs">
      <span buttons (click)="addAdt($event)">+</span>
      <app-adt-list body></app-adt-list>
    </app-menu-panel>
  </app-menu-accordion>
</app-sidebar>
<div id="main-panel" [ngStyle]="mainPanel">
  <router-outlet></router-outlet>
</div>
