#mid-panel {
    position: absolute;
    width: auto;
    left: 300px;
    right: 200px;
    top: 0;
    height: 100%;

    app-graph-frame {
        position: absolute;
        top: 0;
        height: 70%;
        width: 100%;
    }

    app-code-frame {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
    }
}

app-outline,
app-form-list,
app-adt-list {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

app-sidebar {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;

    &[side="left"] {
        left: 0;
        width: 300px;
    }

    &[side="right"] {
        right: 0;
        width: 200px;
    }

    app-menu-accordion {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        app-menu-panel {
            flex: 1;
            overflow: hidden;
            transition: flex 200ms;

            &:not(.open) {
                flex: 0;
            }

            span[buttons] {
                float: right;
                margin-right: 8pt;
                height: 24px;
                line-height: 24px;

                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }
}
