@import "../../../styles/styles.less";

:host {
    display: flex;
    flex-direction: column;
}

div#header {
    .editor.header;

    graph-block-icon {
        float: left;
        margin-right: 16pt;
        width: 50pt;
        height: 50pt;
    }


}

hr {
    margin: 0;
    border: 1px solid #CADBD2;
}

div#content {
    flex: 1;
}

div#footer {
    height: 36pt;

    button {
        cursor: pointer;
        height: 26pt;
        width: 78pt;
        background: @button-background;
        color: @button-text;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14pt;
        font-weight: 900;
        border: none;
        border-radius: 3pt;
        position: absolute;
        right: 16pt;
        margin-top: 5pt;
        margin-bottom: 5pt;
    }
}