<div *ngFor="let andExpression of node.andExpressions; let last = last">
  <div id="block">
    <div id="headers">
      <span>Variable</span>
      <span>Condition</span>
      <span>Value</span>
      <div class="or"></div>
    </div>
    <div id="row" *ngFor="let orExpression of andExpression; let last = last">
      <!-- NEEDS DYNAMIC -->
      <div><input [(ngModel)]="orExpression.variable" /></div>
      <!-- NEEDS DYNAMIC -->
      <div><input class="i" [(ngModel)]="orExpression.condition" /></div>
      <div><input [(ngModel)]="orExpression.value" /></div>
      <div (click)="last ? onOrClick(andExpression) : null" class="or" [ngClass]="{'last': last}">
        <span>OR</span>
      </div>
    </div>
  </div>
  <div (click)="last ? onAndClick() : null" class="and" [ngClass]="{'last': last}">
    <div *ngIf="!last" class="vr"></div>
    AND
    <div *ngIf="!last" class="vr"></div>
  </div>
</div>
